.fa_custom {
    color: #9013FE
    }

.block {
    font-family: Roboto-Italic;
    font-size: 16px; 
    color: #9013FE; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    font-style:italic;

}


